.App {
  text-align: center;
  background-color: rgb(206, 213, 223);
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
}

.main {
  margin-top: 112px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - 112px);
}

.card {
  margin-top: 0px;
  background-color: white;
  padding: 32px;
  padding-left: 64px;
  padding-right: 64px;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  min-height: calc(100vh - 112px);
  overflow: scroll;
}
